/* Universal Styles*/

html {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arimo', sans-serif;
  background-color: inherit;
}

h1 {
  font-weight: bold;
}

/*Header*/
header {
  display: flex;
  vertical-align: middle;
  height: 4rem;
  width: 100%;
  justify-content: space-between;
  padding-left: 1.5rem;
  align-items: center;
  background-color: rgb(20,30,200);
  position: fixed;
  z-index: 10;
}

header span {
  font-size: 2rem;
}

.header-title {
  display: flex;
}

#title-one {
  font-weight: bold;
}

#title-two {
  color: rgb(128,128,128);
}

nav {
  float: right;
  padding-right: 1.5rem;
}

nav a {
  text-decoration: none;
  color: black;
  margin: 0.5rem;
}

nav a:hover {
  text-decoration: underline;
}

/*Introduction section*/

.learn-section {
  background-color: rgb(88, 115, 130);
  display: flex;
  padding: 2rem 1.5rem;
  position: relative;
  top: 4rem;
}

.learn-img-container {
  width: 60%;
  height: auto;
}

.learn-image {
  width: 100%;
  height: auto;
  padding-right: 1.5rem;
}

.learn-text {
  flex-flow: column wrap;
  justify-content: center;
  width: 25%;
  margin-top: auto;
  margin-bottom: auto;
}

.learn-text h1 {
  margin-bottom: 2rem;
  font-weight: bold;
}

.learn-text h2 {
  margin-bottom: 2rem;
  font-weight: normal;
}

button {
  padding: 0.5rem 0;
  width: 100%;
  background-color: lightblue;
}

/*Practice Section*/

.practice-container {
  width: 100%;
  position: relative;
  display: flex;
  background-color: rgb(240, 255, 255);
}

.practice {
  padding: 2rem 1.5rem;
}

.practice img {
  max-width: 100%;
  height: auto;
}

.practice h1 {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}

/*.practice-quoted {
  position: relative;
  bottom: 2rem;
}*/

/*Campus info*/

.campus-info {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.campus-info img {
  max-width: 100%;
  margin: 1rem;
}

.info-slot {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  width: 400px;
}

.info-slot:hover {
  background-color: rgb(160,180,255);
}

.info-img-box {
  width: 35%;
}

.info-text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  top: 1rem;
  left: 2rem;
  width: 35%;

}

.info-slot img {
  max-width: 100%;
  height: auto;
}

.info-slot h4 {
  margin: 0.5rem 0;
  font-weight: normal;
}

/*Courses*/

.course-section {
  background-color: rgb(88, 115, 130);
}

.courses {
  margin: 0 4.5rem;
}

.courses h1 {
  padding: 2rem 0;
  margin: 0;
  width: 100%;
  text-align: center;
}

.course-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  line-height: 1.15;
}

.course-information {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.course-slot {
  height: 276px;
  width: 280px;
  display: flex;
  flex-direction: column;
  margin: 0.5rem 1rem;
  background-color: white;
  border: 2px solid black;
}

.courses img {
  height: auto;
  width: 100%;
}

.courses-text {
  padding: 1rem;
}

.courses-text h4 {
  font-weight: normal;
}

#courses {
  padding: 0.5rem 0;
}

/*Thesis Section*/

.thesis-container {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  background-color: rgb(240, 255, 255);
}

.thesis-container h1 {
  display: block;
  text-align: center;
  width: 100%;
  margin: 2rem;
}

.thesis-content {
  width: 600px;
  padding: 0 1.5rem 1.5rem 1.5rem;
}

.thesis-content h3 {
  padding-bottom: 0.5rem;
}

.thesis-video {
  max-width: 100%;
  height: auto;
  padding-bottom: 1.5rem;
}

.thesis-video video {
  height: auto;
  max-width: 60%;
  margin: 0 auto;
}

.thesis-sidebar {
  width: 400px;
  display: flex;
  flex-direction: column;
}

.thesis-container img {
  height: auto;
  max-width: 100%;
}

.thesis-slot {
  height: auto;
  width: 280px;
  display: flex;
  flex-direction: row;
  background-color: inherit;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
}

.thesis-slot:hover {
  background-color: rgb(160,180,255);
}

.thesis-img-container {
  max-width: 35%;
  margin: 1rem;
}

.thesis-info {
  margin: 1rem;
}

.thesis-info h4 {
  font-weight: normal;
}

footer {
  background-color: rgb(20,30,200);
  display: flex;
  width: 100%;
  padding: 1rem 1.5rem;
}

footer p {
  padding: 1rem 0 0 1.5rem;
}

footer nav {
  margin-left: auto;
  margin-right: 0;
}
